.home-main-content {
    @include flexGrid(column, space-between, $a-items, wrap);
    align-content: space-between;
    max-width: 940px;
    width: 68.815vw;
    max-height: 1342px;
    height: 97.9vw;
    padding: 0 0 211.72px 0;
    margin: 0 auto;
}

.home-main-content__headline {
    @include fontOptions (30, 36, $mainFont_sb, 700, 46px, 0.05em, $textDecoration, $textTransform, rgba(#316099, 1));
    max-width: 363px;
    width: 26.574vw;
    height: auto;
    margin: 19.7% 0 0 0;
}

.home-main-content__card {
    @include flexGrid(column, $j-content, center, $f-wrap);
    max-width: 380px;
    width: 27.819vw;
    height: 39.1%;
    background-color: #ffffff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    
    &:nth-of-type(1) {
        margin: 17.1% auto auto 8.5%;
        img {
            margin: 12.5% 15.5% 0 0;
        }
    }

    &:nth-of-type(2) {
        margin: 20.1% 0 0 1%;
        img {
            position: relative;
            top: -4.5%;
            left: 1.5%;
            bottom: 0;
            right: 0;
        }
        h4 {
            margin-top: 7%;
        }
    }

    &:nth-of-type(3) {
        margin: 1% 0 0 1%;
        img {
            margin: 12% 10.5% 0 0;
        }
    }
}

.home-main-content__card-sub{
    @include fontOptions (18, 20, $mainFont_sb, 400, 150%, 0.05em, $textDecoration, $textTransform, rgba($fontColor, 1));
    padding: 0 0 0 1.5%;
    margin: 14.3% 0 0.1% 0;
    width: 76.5%;
}

.home-main-content__card-deskription {
    @include fontOptions (14, 16, $mainFont, 400, 163.5%, 0.05em, $textDecoration, $textTransform, rgba($fontColor, 0.6));
    width: 74%;
    padding-right: 2px;
}

.home-main-content__card-link {
    @include fontOptions (13.5, 14, $mainFont, 700, 214.2%, 0.05em, $textDecoration, $textTransform, rgba($accentBlue, 1));
    @include flexGrid($f-direction, space-between, center, $f-wrap);
    width: 32.37%;
    padding: 0 0 0 0;
    margin: auto 42.5% 12.8% 0;
    svg {
        width: 16px;
        height: 16px;
        margin: 0 0 0 5%; 
    }
}

@media screen and (max-width: $tabletWidth + px) {
    .home-main-content {
        @include flexGrid(column, flex-start, center, wrap); // зміна
        max-height: 100%;
        height: 100%;
        padding: 0 0 90px 0;
    }

    .home-main-content__headline {
        text-align: center;
        max-width: 100%;
        width: 100%;
        margin: 7% 0 5% 0;
    }
 
    .home-main-content__card {
        @include flexGrid(column, $j-content, center, $f-wrap);
        max-width: 580px;
        width: 48.374vw;
        &:nth-of-type(1) {
            margin: 20px auto;
            img {
                margin: 13.5% 5.5% 0 0;
            }
        }
    
        &:nth-of-type(2) {
            margin: 20px auto;
            img {
                margin: 13.5% 0 0 0;
            }

            h4 {
                margin-top: 12%;
            }
        }
    
        &:nth-of-type(3) {
            margin: 20px auto;
            img {
                margin: 13.5% 6.5% 0 0;
            }
        }
    }

    .home-main-content__card-img {
        width: 45%;
    }

    .home-main-content__card-sub {
        font-size: 21px;
        margin: 12% 0 .1%;
    }

    .home-main-content__card-link {
        width: auto;
        margin: auto auto 8% 12.5%;
    
        svg {
            display: none;
        }
    }
}