.contact-form {
    @include flexGrid(column, $j-content, center, $f-wrap);
    width: 39.532vw;
    height: 58.566vw;
    max-width: 540px;
    max-height: 800px;
    @include centeredElem (fixed);
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
}

.contact-form__headline {
    @include fontOptions (18, 20, $mainFont_sb, $fontWeight, 150%, 0.04em, $textDecoration, uppercase, rgba($fontColor, 1));
    align-self: flex-start;
    margin: 9.8% 0 0 10.3%;
}

.contact-form__name,
.contact-form__e-mail,
.contact-form__message {
    @include flexGrid(column, $j-content, $a-items, wrap);
    label,
    .contact-form__message-text {
        @include fontOptions (13, 16, $mainFont, $fontWeight, 188%, 0.04em, $textDecoration, capitalize, rgba($fontColor, 0.8));
    }

    input,
    textarea {
        @include fontOptions (13, 16, $mainFont, $fontWeight, 188%, 0.04em, $textDecoration, capitalize, rgba($fontColor, 0.8));
        display: flex;
        width: 31.333vw;
        height: 5.271vw;
        max-width: 428px;
        max-height: 72px;
        border: 1px solid rgba(#356EAD, 0.4);
        box-sizing: border-box;
        border-radius: 10px;
        margin: 2.25% 0 0 0;
        padding: 0.3% 0% 1.2% 9.5%;
        &[placeholder] {    
            color: rgba($fontColor, 0.8);
            &:active,
            &:focus {
                outline: none;
                border: 1px solid rgba(#356EAD, 0.8);
                color: rgba($fontColor, 0.8);
            }
        }
    }
    textarea {
        text-transform: none;
    }
}

textarea::placeholder,
input[type="text"]::-moz-placeholder {
    color: rgba($fontColor, 0.2);
}
textarea::placeholder,
input[type="text"]::-webkit-input-placeholder {
    color: rgba($fontColor, 0.2);
}

textarea::placeholder,
input[type="text"]:-ms-input-placeholder {
    color: rgba($fontColor, 0.2);
}

textarea::placeholder,
input[type="text"]::-ms-input-placeholder {
    color: rgba($fontColor, 0.2);
}

textarea::placeholder,
input[type="text"]::placeholder {
    color: rgba($fontColor, 0.2);
} 

.contact-form__name {
    margin: 9% 0 0 0;
}

.contact-form__e-mail {
    margin: 5.65% 0 0 0;
    input {
        padding: 0.3% 0 1.2% 8%;
        text-transform: none;
    }
}

.contact-form__message {
    margin: 5.65% 0 0 0;
}

.contact-form__message-text {
    margin: 0 0 0 0;
}

textarea[id="client-message"] {
    height: 10.542vw;
    max-height: 144px;
    resize: none;
    &[placeholder] {
        padding: 4.3% 8%;
    }
}

.contact-form__btn {
    @include fontOptions (13, 16, $mainFont, $fontWeight, 163%, 0.04em, $textDecoration, uppercase, rgba(#ffffff, 1));
    @include btnCentered (none, $b-size, $b-color, 10px, 10px, 10px, 10px, rgba($accentBlue, 1));
    width: 31.333vw;
    height: 5.271vw;
    max-width: 428px;
    max-height: 72px;
    box-shadow: 5px 10px 20px rgba(16, 112, 177, 0.2);
    margin: 13.2% 0 0 0;
}