.footer {
    @include flexGrid(column, $j-content, flex-start, $f-wrap);
    width: 100%;
    background-color: $accentBlue;
}

.footer__container {
    @include flexGrid(column, $j-content, center, $f-wrap);
    width: 93%;
    padding: 0 0 3px 0;
    background-color: #316099;
    border-radius: 0 200px 0 0;
}

.footer__talk {
    @include flexGrid(row, space-between, center, wrap);
    position: relative;
    height: auto;
    width: 69%;
    max-width: 876.5px;
    padding: 88.92px 0 97.50px 0;
    margin: 0 0 0 0;
    &:after {
        @include pseudo(200%, 1px, 100%, $p-right, $p-bottom, -100%);
        border-bottom: 1px solid rgba(#ffffff, 0.4);
    }
}

.footer__talk-text {
    @include flexGrid(column, space-between, flex-start, nowrap);
    margin: 0 0 0 1.75%;
}

.footer__headline {
    @include fontOptions (34, 36, $mainFont_sb, 500, 127.7%, 0.05em, $textDecoration, $textTransform, rgba(#ffffff, 1));
    max-width: 335.02px;
    width: 24.526vw;
    min-width: 293px;
    margin: 0 0 0 0;
}

.footer__deskription {
    @include fontOptions (14, 16, $mainFont, 400, 163.5%, 0.05em, $textDecoration, $textTransform, rgba(#ffffff, 0.6));
    max-width: 465px;
    width: auto;
    margin: 7.5% 0 0 0;
}

.footer__popup {
    @include fontOptions (14, 16, $mainFont, 400, 26px, 0.06em, $textDecoration, capitalize, rgba(#ffffff, 1));
    @include btnCentered (none, $b-size, $b-color, 10px, 10px, 10px, 10px, rgba($accentBlue, 1));
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    max-width: 220px;
    max-height: 56px;
    min-width: 153px;
    min-height: 40px;
    width: 16.106vw;
    height: 4.1vw;
    margin: 0.5% 0 0 0;
    padding: 0;
}

.footer__info {
    @include flexGrid($f-direction, $j-content, $a-items, wrap);
    height: auto;
    width: 66.91%;
    max-width: 850px;
    margin: 0 0 4.85% 0;
}

.footer__contacts {
    @include flexGrid(row, flex-end, flex-start, wrap);
    @include fontOptions (14, 16, $mainFont, 400, 163%, 0.05em, $textDecoration, $textTransform, rgba(#ffffff, 1));
    width: 21.889vw;
    max-width: 299px;
    margin: 106.11px 0 0 0;
}

.footer__logo {
    width: 48px;
    height: 32px;
    margin: 0 0 0 1.2%;
}

.footer__logo-text {
    @include fontOptions (26, 28, $mainFont_sb, 500, 100%, 0.02em, $textDecoration, $textTransform, rgba(#ffffff, 1));
    width: 77.7%;
    margin: 0 0 14.2% auto;
}

.footer__logo-adress {
    position: relative;
    padding: 0 0 0 12.7%;
    margin: 0 0 6.5% 0;
    &:after {
        @include pseudo(19px, 26px, $p-top, $p-right, $p-bottom, 4px);
        @include fontOptions (14, 16, $mainFont, 400, 163%, 0.05em, $textDecoration, uppercase, rgba(#ffffff, 1));
        content: 'a.';
    }
}

.footer__logo-phone {
    position: relative;
    width: 100%;
    margin: 0 0 0 12.6%;
   &:after {
    @include pseudo(19px, 26px, $p-top, $p-right, $p-bottom, -35px);
    @include fontOptions (14, 16, $mainFont, 400, 163%, 0.05em, $textDecoration, uppercase, rgba(#ffffff, 1));
    content: 't.';
}
}

.footer__logo-mail {
    position: relative;
    width: 100%;
    margin: 8.1% 0 0 12.7%;
    &:after {
        @include pseudo(19px, 26px, $p-top, $p-right, $p-bottom, -35px);
        @include fontOptions (14, 16, $mainFont, 400, 163%, 0.05em, $textDecoration, uppercase, rgba(#ffffff, 1));
        content: 'e';
    }
}

.footer__about {
    margin:  95.17px 0 0 12.15%;
    padding: 0 0 0 0;
        :nth-child(1) a {
            @include fontOptions (18, 20, $mainFont_sb, 700, 150%, 0.05em, $textDecoration, $textDecoration, rgba(#ffffff, 1));
            margin: 0 0 10% 0;
        }
    }

.footer__about-item {
    list-style: none;
    &:nth-of-type(n-1) {
        margin: 0 0 20.2% 0;
    }
    &:nth-of-type(n+2) {
        margin: 0 0 10% 0;
    }
}

.footer__about-link {
    @include fontOptions (14, 16, $mainFont, 400, 163%, 0.05em, $textDecoration, capitalize, rgba(#ffffff, 1));
}

.footer__social {
    margin:  95.17px 0 0 9.1%;
    padding: 0 0 0 0;
    :nth-child(1) a {
        @include fontOptions (18, 20, $mainFont_sb, 700, 150%, 0.05em, $textDecoration, $textDecoration, rgba(#ffffff, 1));
        margin: 0 0 10% 0;
    }
}

.footer__social-item {
    list-style: none;
    &:nth-of-type(n-1) {
        margin: 0 0 34% 0;
    }
    &:nth-of-type(n+2) {
        margin: 0 0 16.4% 0;
    }
}

.footer__social-link {
    @include fontOptions (14, 16, $mainFont, 400, 163%, 0.05em, $textDecoration, capitalize, rgba(#ffffff, 1));
}

.footer__copyright {
    @include fontOptions (14, 16, $mainFont, 400, 163%, 0.05em, $textDecoration, $textDecoration, rgba(#ffffff, 0.4));
    width: 100vw;
    margin: 61.6px 0 0 0.3%;
}