//font
$mainFont: 'Gilroy', 'Helvetica', 'Arial', sans-serif;
$headlineFont: 'Galien', 'Georgia', 'Times', serif;
$baseFontSize: 13;
$maxFontSize: 16;
$fontWeight: 400;
$letterSpacing: 0.00em;
$lineHeight: 1.2;
$textTransform: none;
$textDecoration: none;


//flex-grids
$f-direction: row;
$j-content: flex-start;
$a-items: flex-start;
$f-wrap: nowrap;

//colors
$fontColor: #1F3F68;
$accentBlue: #5A98D0;

//media
$desktopWidth: 1366;
$tabletWidth: 950;
$smPhoneWidth: 375;