.clients {
    @include flexGrid($f-direction, center, $a-items, $f-wrap);
    width: 100%;
    height: auto;
    border-radius: 200px 0px 0px 0px;
    background-color: rgba($accentBlue, 1);
}

.clients__container {
    @include flexGrid($f-direction, space-between, $a-items, wrap);
    align-content: flex-start;
    max-width: 945px;
    width: 69.181vw;
}

.clients__headline {
    @include fontOptions (34, 36, $mainFont_sb, 500, 127.7%, 0.05em, $textDecoration, $textTransform, rgba(#ffffff, 1));
    margin: 10% 0 0 0.25%;
    max-width: 226px;
    width: 17.946vw;
}

.clients__deskription {
    @include fontOptions (14, 16, $mainFont, 400, 163%, 0.05em, $textDecoration, $textTransform, rgba(#ffffff, 0.6));
    margin: 10.1% 9% 0 0%;
    max-width: 538px;
    width: 41vw;
}

.clients__list {
    @include flexGrid($f-direction, $j-content, $a-items, wrap);
    width: auto;
    margin: 12% auto 0 auto;
}

.clients__link {
    @include fontOptions (18, 20, $mainFont, 500, 230%, 0.02em, $textDecoration, uppercase, rgba(#ffffff, 1));
    @include flexGrid($f-direction, center, center, $f-wrap);
    width: 17.204vw;
    height: 9.371vw;
    max-width: 235px;
    max-height: 128px;
    &:last-of-type {
        background-color: rgba($fontColor, 0.2);
        text-transform: capitalize;
    }
    &:not(:nth-last-of-type(-n+4)) {
        border-bottom: 1px solid #ffffff;
    }
    &:not(:nth-of-type(4n)) {
        border-right: solid 1px #ffffff;
    }
}

@media screen and (max-width: $tabletWidth + px) {
    .clients {
        padding: 0 0 10% 0;
    }
    .clients__headline {
        font-size: 30px;
    }

    .clients__deskription {
        margin: 10.1% 2% 0 0;
    }

    .clients__list {
        width: 70vw;
    }

    .clients__link {
        width: 16.5vw;
        height: 8.5vw;
        font-size: 15px;
        &:nth-last-of-type(n+5) {
            display: none;
        }
    }
}

@media screen and (max-width: $phoneWidth + px) and (min-width: $smPhoneWidth + px) {
    .clients {
        border-radius: 150px 0px 0px 0px;
    }

    .clients__headline {
        font-size: 25px;
        width: auto;
        max-width: none;
        margin: 13% 0 5% 0;
    }

    .clients__container {
        @include flexGrid(column, flex-start, center, $f-wrap);
        width: 88vw;
    }

    .clients__deskription {
        margin: 0 0 0 0;
        text-align: center;
        width: auto;
    }

    .clients__list {
        justify-content: center;
        width: 100%;
        margin: 10% 0 5% 0;
    }

    .clients__link {
        width: 66.5vw;
        height: 58.5vw;
        max-width: 90%;
        max-height: 323px;

        &:nth-of-type(n) {
            border-top: solid 1px #ffffff;
            border-bottom: solid 1px #ffffff;
            border-right: none;
        }

        &:not(:nth-of-type(5)) {
            display: none;
        }
    }
}