.top-content {
    @include flexGrid(column, $j-content, $a-items, wrap);
    width: 100%;
    height: 47.145vw;
    max-height: 644px;
    background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
    position: relative;
}

.top-content__headline {
    @include fontOptions (54, 64, $headlineFont, 700, 1.16, 0.04em, $textDecoration, $textTransform, rgba($fontColor, 1));
    margin: 49.84px 0 0 15.52%;
    width: 41%;
    max-width: 572px;
}

.top-content__deskription {
    @include fontOptions (15, 16, $mainFont, 400, 163.5%, 0.05em, $textDecoration, $textTransform, rgba($fontColor, 0.6));
    max-width: 425px;
    margin: 40.97px 0 0 15.52%;
}

.top-content__more-btn {
    @include fontOptions (14, 16, $mainFont, 400, 162.5%, 0.04em, $textDecoration, capitalize, rgba(#ffffff, 1));
    @include btnCentered (none, $b-size, $b-color, 10px, 10px, 10px, 10px, rgba($accentBlue, 1));
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    max-width: 220px;
    max-height: 56px;
    min-width: 153px;
    min-height: 40px;
    width: 16.106vw;
    height: 4.1vw;
    margin: 76.45px 0 0 15.62%;
    padding: 0 0 3px 0;
}

.top-content__bg-block {
    position: absolute;
    max-width: 687.25px;
    max-height: 612.56px;
    width: 50.312vw;
    height: 44.844vw;
    top: -6.3%;
    right: 0;
    bottom: 0;
    left: 47.95%;
    z-index: -2;
    
}

.top-content__bg {
    position: absolute;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    margin: 4.15% 0 0 0;
}

.top-content__bg-woman {
    position: absolute;
    max-width: 329px;
    max-height: 426px;
    width: 24.085vw;
    height: 31.186vw;
    top: 0.15%;
    right: 0;
    bottom: 0;
    left: 50.95%;
    z-index: 1;
}

.top-content__bg-man {
    position: absolute;
    max-width: 374.07px;
    max-height: 288.73px;
    width: 27.385vw;
    height: 21.137vw;
    top: 42.90%;
    right: 0;
    bottom: 0;
    left: 11.57%;
    z-index: 1;
}

@media screen and (max-width: $tabletWidth + px) {

    .top-content__headline {
        width: 50%;
        font-size: 44px;
        margin: 4.16% 0 0 15.52%;
    }

    .top-content__deskription {
        margin: 3.4% 0 0 15.52%;
    }

    .top-content__more-btn {
        margin: 5% 0 0 15.62%;
    }
}

@media screen and (min-width: $smPhoneWidth + px) and (max-width: $phoneWidth + px) {
    .top-content {
        @include flexGrid(column, $j-content, center, wrap);
        height: 361.59px;
    }

    .top-content__headline {
        width: auto;
        font-size: 38px;
        text-align: center;
        padding: 0 6%;
        margin: 6% 0 0 0;
    }

    .top-content__deskription {
        text-align: center;
        padding: 0 6%;
        margin: 6% 0 0 0;
    }

    .top-content__more-btn {
        margin: 6% 0 0 0;
    }

    .top-content__bg-block {
        width: 100vw;
        height: 73vh;
        left: 0;
        max-width: none;
        max-height: none;
    }

    .top-content__bg {
        display: none;
    }

    .top-content__bg-woman {
    display: none;
    }

    .top-content__bg-man {
        display: none;
    }
}
